# ====== project configuration ======
# see CONTRIBUTING.md for instructions

# private .env file
.env

# TLS certificates
*ca.*
*cert.*
*.pem

# ===================================

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# knip outputs
knip_report.json

# sqlite database
*.sqlite*

# drizzle dev data
drizzle/

# font data
.data

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
