/* ~/assets/css/main.css */
@import "tailwindcss";

/* link tailwind dark mode to @nuxt/color-mode dark mode */
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@layer base {
    /* font sizes */
    h1{ font-size: var(--text-5xl); line-height: 2; }
    h2{ font-size: var(--text-4xl); line-height: 2; }
    h3{ font-size: var(--text-2xl); line-height: 2; }
    h4{ font-size: var(--text-xl); line-height: 2;}
    p{ font-size: var(--text-base); padding-bottom: 1rem; }

    /* list styling */
    ol{ list-style: decimal; padding-left: 1rem; }
    ul{ list-style: disclosure-closed; padding-left: 1rem; }
    li{ padding-bottom: 0.5rem; }
    input[type="checkbox"] { margin-left: -1rem !important; } /* override showdown's margin */
    

    /* anchor tag colors */
    a{ color: var(--color-blue-500); }
    a:hover{ color: var(--color-blue-300); }
    .dark-mode a{ color: var(--color-teal-500); }
    .dark-mode a:hover{ color: var(--color-teal-200); }

    /* strong tag colors */
    strong{ color: var(--color-amber-600); }
    strong:hover{ color: var(--color-amber-400); }
    .dark-mode strong{ color: var(--color-yellow-500); }
    .dark-mode strong:hover{ color: var(--color-yellow-200); }

    /* code styling */
    code{ padding-inline-start: 0.35rem; padding-inline-end: 0.35rem; background-color: var(--color-slate-200);border-radius: 0.25rem; }
    .dark-mode code{ background-color: var(--color-slate-700); }
}



